<div class="container-local">
  <div class="content-local">
    <div class="title-loc">
      Nossa Localização
    </div>
    <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1632.8617979213143!2d-34.84529458177214!3d-7.119930677593429!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd60a6e91c8b%3A0x45d949d8727ff265!2sImpact%20Tattoo%20Studio!5e0!3m2!1spt-BR!2sbr!4v1707520014750!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
