<div class="container-carrousel">
  <div class="content-carrousel">
    <div class="title-carls">
      Galeria de Fotos
    </div>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/foto1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto3.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto4.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto5.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto6.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto7.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto8.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto9.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto10.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto11.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/foto12.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
