<div class="content-container">
  <div class="container-img">
       <!-- <div class="camada-blur"></div>  -->
    <div class="container-titles">

        <div class="content-titles">
            <div class="title">
              <div class="subtitle">
                <span>Realismo | Preto e Cinza</span>
              </div>
              Guedes Ink
            </div>

            <!-- <div class="title-motivacional">
              "Se você busca eternizar uma memória, celebrar uma etapa da vida ou simplesmente admirar a beleza da arte na pele, Guedes é o tatuador que transformará sua visão em realidade."
            </div> -->

            <!-- <div class="content-img-social">
             <img src="assets/instagram.svg" width="30px" height="30px" alt="">
             <img src="assets/whatsapp.svg" width="30px" height="30px" alt="">
            </div> -->

            <div class="content-buttons">
              <button class="button-58" role="button">
                <a href="https://api.whatsapp.com/send/?phone=5583999083985&text=Ol%C3%A1+Guedes%2C+tudo+bem%3F+Gostaria+de+fazer+um+or%C3%A7amento%21&type=phone_number&app_absent=0">Agendar</a>
                <img src="assets/whatsapp.svg" width="30px" height="30px" alt="">
              </button>
              <button class="button-59" role="button">Conferir Portfólio</button>
            </div>
        </div>
    </div>
  </div>

</div>
