<div class="content-container">
  <div class="container-img">

    <div class="container-titles">

        <div class="content-titles">
            <div class="title">
              <div class="subtitle">
                <span>Realismo | Preto e Cinza</span>
              </div>
              Guedes Ink
            </div>

            <div class="content-buttons">
              <button class="button-58"  (click)="goToWhatsApp()" role="button">
                Agendar
                <img src="assets/whatsapp.svg" width="30px" height="30px" alt="">
              </button>
              <button class="button-59" role="button" (click)="scrollToComponent()">Conferir Portfólio</button>
            </div>
        </div>
    </div>
  </div>

</div>
